<div class=" bg-dark py-5 text-bg-dark overflow-hidden">
   <div class="row">
    <div class="col-md-4 text-center">
        <h2>LOCATION</h2>
        <p>2215 John Daniel Drive
            <br>
            Clark, MO 65243
        </p>
    </div>
    <div class="col-md-4 text-center">
        <h2>AROUND THE WEB</h2>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-github"></i>
       
    </div>
    <div class="col-md-4 text-center">
        <h2>ABOUT FREELANCER</h2>
        <p>Freelance is a free to use, licensed Bootstrap theme <br> created by Route</p>
    </div>
    <footer class="text-center col-12 py-3">
        <p >Copyright © Your Website 2021</p>
    </footer>
   </div>
</div>

