
<div class="container p-5 h-full ">
    <div class="w-75 mx-auto text-center">
    <h1 class="text-bg-light">CONATCT SECTION</h1>
    <i class="fa-solid fa-star "></i>
    
        <input class="form-control my-3" type="text" placeholder="username">
        <input class="form-control my-3" type="number" placeholder="userage">
        <input class="form-control my-3" type="email" placeholder="e-mail">
        <input class="form-control my-3" type="number" placeholder="mobile number">

    </div>
</div>