<div class="container text-center">
    <h1 class="text-bg-light py-4">PORTFOLIO COMPONENT</h1>
    <i class="fa-solid fa-star "></i>
    
    <div class="row py-5">
        <div class="col-md-4 p-2 position-relative rounded-3 overflow-hidden">
            <img class="w-100" src="./assets/poert1.png" alt="">
            <div class="layer d-flex w-100 h-100">
                <i class="fa-solid fa-plus text-white m-auto"></i>
            </div>
        </div>
        <div class="col-md-4 p-2 position-relative rounded-3 overflow-hidden">
            <img class="w-100" src="./assets/port2.png" alt="">
            <div class="layer d-flex w-100 h-100">
                <i class="fa-solid fa-plus text-white m-auto"></i>
            </div>
        </div>
        <div class="col-md-4 p-2 position-relative rounded-3 overflow-hidden">
            <img class="w-100" src="./assets/port3.png" alt="">
            <div class="layer d-flex w-100 h-100">
                <i class="fa-solid fa-plus text-white m-auto"></i>
            </div>
        </div>
        <div class="col-md-4 p-2 position-relative rounded-3 overflow-hidden">
            <img class="w-100" src="./assets/poert1.png" alt="">
            <div class="layer d-flex w-100 h-100">
                <i class="fa-solid fa-plus text-white m-auto"></i>
            </div>
        </div>
        <div class="col-md-4 p-2 position-relative rounded-3 overflow-hidden">
            <img class="w-100" src="./assets/port2.png" alt="">
            <div class="layer d-flex w-100 h-100">
                <i class="fa-solid fa-plus text-white m-auto"></i>
            </div>
        </div>
        <div class="col-md-4 p-2 position-relative rounded-3 overflow-hidden">
            <img class="w-100" src="./assets/port3.png" alt="">
            <div class="layer d-flex w-100 h-100">
                <i class="fa-solid fa-plus text-white m-auto"></i>
            </div>
        </div>
    </div>
</div>